body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(#a3d8ff, #ffffff);
    height: 100vh;
    font-family: Arial;
}

#gameContainer {
    width: 400px;
    height: 600px;
    background: #e3f6ff;
    border: 4px solid #0077b6;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
}

#basket {
    width: 80px;
    height: 30px;
    position: absolute;
    bottom: 10px;
    left: 160px;
    border-radius: 10px;
}

.fruit, .bomb {
    width: 30px;
    height: 30px;
    position: absolute;
    top: -40px;
}

#scoreBoard {
    width: 100%;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    background: #caf0f8;
    border-bottom: 3px solid #0077b6;
}

#startScreen, #gameOverScreen {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 28px;
    gap: 20px;
}

.btn {
    padding: 12px 25px;
    font-size: 20px;
    background: #0096c7;
    border: none;
    color: white;
    border-radius: 10px;
    cursor: pointer;
}
